@import "../../../settings/globalStyles.scss";

#row-post-info {
  width: 420px;
  position: relative;
  left: 7rem;
  color: white;
  font-family: sans-serif;
}

a.user-name {
  color: white;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}

#container-post-stats {
  top: -40em;
  left: 10em;
}
