.bio-link {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;

  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: rgba(0, 0, 0, 0.705);
      text-decoration: none;
    }
  }
}
