.App {
  text-align: center;
}

.navbar a {
  font-size: 18pt;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover {
  color: rgb(134, 134, 138);
}

a.logo {
  font-size: 22pt;
  font-weight: 700;
}

.cont-logo {
  width: fit-content !important;
  padding: 0 !important;
}

a.user-name {
  color: white;
  text-decoration: none;
}

a.user-name:hover {
  color: white;
  text-decoration: underline;
}

img.user-icon {
  border-radius: 30px;
}

img.music-icon {
  width: 55px;
  height: 55px;
  border-radius: 30px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.subscribe-button-color {
  background-color: #fe2c55;
  color: white;
}

.unsubscribe-button-color {
  background-color: white;
  color: #fe2c55;
}

.subscribe-button-color,
.unsubscribe-button-color {
  border-color: #fe2c55;
  border-radius: 3px;
  transition-duration: 0.5s;
}

.subscribe-button-color:hover,
.unsubscribe-button-color:hover {
  box-shadow: 0px 0px 10px #fe2c55;
}

.bio-link {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.bio-link a {
  color: black;
  text-decoration: none;
}

.bio-link a:hover {
  color: rgba(0, 0, 0, 0.705);
  text-decoration: none;
}

#post-col {
  width: fit-content;
  margin-bottom: -35em;
}

#container-post-stats {
  top: -40em;
  left: 10em;
}

.color-white {
  color: white;
}

#music-meta-marquee {
  width: 50%;
  white-space: nowrap;
  margin-left: 1em;
  margin-right: 6em;
}

.width-fit-content {
  width: fit-content;
}

.cursor-pointer {
  cursor: pointer;
}

.border-radius-10em {
  border-radius: 10em;
}

#borders-x-grey {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.color-grey {
  color: grey;
}

#subscribe-button-size {
  width: 25em;
  height: 5em;
}

#border-top-grey {
  border-top: 1px solid grey;
}

#row-post-info {
  width: 420px;
  position: relative;
  left: 7rem;
  color: white;
  font-family: sans-serif;
}
